/* CSS GRID */
/* **************************************************************** */

/* GRID mobile */
.contenido{
    display: grid;
    grid-template-columns:0px repeat(4, 1fr);
    grid-gap: 16px;
}

header,main, footer{
    grid-column: 1/span-1;
}

/* **************************************************************** */

/* SUBGRIDS mobile */
/* General */
header, main, footer{
    display: grid;
    grid-template-columns:0px repeat(4, 1fr) 0px;
    grid-column-gap: 16px;
    place-items: center;
}

/* @HEADER */
.header__titulo{
    grid-column: 3/span 2;
}

.header__banner{
    grid-column: 1/span-1;
}

.header__telefono{
    grid-column: 3/span 2; 
}

/* **************************************************************** */

/* @MAIN */

.main__subtitulo{
    grid-column: 3/span 2;
}

.main__descripcion{
    grid-column: 2/span 4;
    display: grid;
    grid-template-columns:repeat(4, 1fr);
    grid-column-gap: 16px;
}

.main__descripcion__anio{
    grid-column: 1/span 4;
}

.main__descripcion__explicacion{
    grid-column: 2/span 3;
}

.main__contacto{
    grid-column: 1/span-1;
}

.main__formulario{
    grid-column: 1/span-1;
}

/* **************************************************************** */

/* @FOOTER */
.footer__contactar, .footer__redes{
    grid-column: 1/span 3;
}

.footer__direccion, .footer__redes-sociales{
    grid-column: 2/span 4;
}

.footer__copyright{
    grid-column: 2/span 4;
}

/* **************************************************************** */