/* CSS LAYOUT */
/* **************************************************************** */

body{
    display: flex;
    justify-content: center;
}

/* @HEADER */
/* BTN */
.header__telefono{
    border: 1px solid black;
    border-radius: 10px;
    padding: 20px 10px;
}

.header__banner{
    margin-bottom: 1rem;
}
/* **************************************************************** */

/* @FORMULARIO */
.main__formulario{
    height: 110px;
    width: 280px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.input__email{
    height: 50px;
    width: 100%;
}

.input__btn{
    border-radius: 10px;
    border: 1px solid black;
    height: 50px;
    width: 150px;
}
/* **************************************************************** */

